.DS_Store
node_modules
.env
venv
.venv
middle_layer/.idea
private

.env


flask/router/__pycache__/*

__pycache__/
*.py[cod]
frontend/src/firbaseconfig.js
/frontend/src/admin_coponent/firbaseconfig.js
/frontend/src/common_component/firbaseconfig.js
/frontend/src/firbaseconfig.js
/frontend/src/firebase-adminsdk.json
